
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Josefin+Sans&family=Lalezar&family=Lobster&family=Oswald:wght@600&family=Poppins:ital,wght@0,300;0,600;0,700;0,900;1,100;1,300&family=Secular+One&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-primary ;
    scroll-behavior: smooth;
}

h2{
    font-size: 17px;
}

a{
    text-decoration: none;
 }

